body {
    background-color: rgb(36, 33, 33);
    text-align: center;
}

/*======================CLASS SELECTOR===================*/

.code {
    background-color: lightgray;
    color: black;
    width: 200px;
    padding: 5px;
    text-align: center;
}

.inlinecode {
    box-sizing: border-box;
    background-color: lightgray;
    width: 300px;
    padding: 5px;
    text-align: center;
}



/*======================I.D. SELECTOR===================*/

#fontsize {
    font-size: x-large;
}

